body, html {
  height: 100vh;
  width: 100%;
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Arial', sans-serif;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
}

#logo {
  margin-top: 20px;
  color: white;
}

.words {
  max-width: 80%;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  padding: 20px;
  background-size: 100% 3rem;
  position: relative;
  line-height: 1em;
  color: black;
}

p {
  margin: 0 0 2rem;
}
.words:before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

@media only screen and (max-device-width: 480px) {
  .words {
      width: 70%;
      position: relative;
      margin: 0 auto;
      background: white;
      border-radius: 5px;
      padding: 20px;
      background-size: 100% 3rem;
      position: relative;
      line-height: 1em;
      color: black;
  }
  p {
    margin: 0 0 2rem;
  }
}
